<div class="message mb-3 <%= 'my-msg' if message.user == current_user %>">
  <div class="content-container">
    <div class="content">
    <%=message.content %>  <br>
    </div>
    <div class="author">
      <%= message.user.username%> : <%= message.created_at %>
    </div>
  </div>
</div>