
<% if work.category == "Study"%>
    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13 font-weight-bold">Study</span>
<% elsif work.category == "Work" %>
    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 font-weight-bold">Work</span>
<% elsif work.category == "Social" %>
    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 font-weight-bold">Social</span>
<% else %>
    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 font-weight-bold">Other</span>
<% end %>
<div class="margin-10px-top font-size14 font-weight-bold"><%=link_to work.work.capitalize, work%></div>
<div class="margin-10px-top font-size14 font-weight-bold"><%=readable_time(work.starttime) %>-<%= readable_time(work.endtime)%></div>
