<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 font-weight-bold">To-do</span>
<div class="margin-10px-top font-size14 font-weight-bold"><%=link_to work.work.capitalize, work%></div>
<div class="margin-10px-top font-size14 font-weight-bold"><%=readable_time(work.starttime) %>-<%= readable_time(work.endtime)%></div>
