<%= form_with(model: chatroom) do |form|%>
    <div class="registration-form container-form">
        <form>
            <div class="forum-icon">
            </div>
            <div class="form-group">
                <%= form.text_field :name, required: true, class:"form-control item", id:"username", placeholder:"Chatroom"%>
            </div>

            <div class="form-group">
                <%= form.submit "Create Chatroom", class:"btn btn-block create-account"%>
                <%= link_to "Cancel", chatrooms_path, class:"text-white btn btn-block create-account" %>
            </div>
        </form>
    </div>
<% end %>