<%= form_with(model: chat) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
