<div class="container">
    <div class="inner-main-header">
                <!-- Inner sidebar header -->
            <div class="inner-sidebar-header justify-content-center">
                <%= link_to "Create New Task", new_todolist_path, class:"navbar-brand font-weight-bold font-black" %>
            </div>
    </div>
    
    
    <%= render 'tobegin'%>

    <%= render 'inprogress'%>

    <%= render 'done'%>
      
</div>


