// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat-room {
	background-color: white;
	height : 100vh;
	overflow-y: hidden;

	.chat-send {
		position: absolute;
		bottom: -10px;
		padding: 20px;
		width: calc(75% - 30px);
		margin-left: -15px;
		background-color: white;
		border-top: 1px solid #eeeeee;
		input[type=text] {
			height: 45px;
			font-size: 18px;
			padding: 8px;
		}

		.btn {
			height: 45px;
		}
	}
}

.border-right {
	border-right: 1px solid black;
}