@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: rgb(0, 0, 0) !important;
}

.nav-item {
  color: white !important;
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

#logout {
  background-color: red;
  color: white;
  font-weight: bold;
}

#login {
  background-color: blue;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

#signup {
  background-color: green;
  color: white;
  font-weight: bold;
}

.image {
  background-image: asset-url("jumbo4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 80%;

  @media (min-width: 768px) {
    height: 400px;
    width: 768px;
  }
}

#title1 {
  font-size: 25px;
  text-shadow: 5px 5px 5px rgb(4, 0, 255);
  width: 80%;
  @media (min-width: 768px) {
    font-size: 60px;
    width: 768px;
  }
}

#text1 {
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(109, 93, 93, 0.543);
  width: 90%;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}

#text2 {
  font-style: italic;
}

.position-center {
  left: 40%;
  position: relative;
}
.flash-message {
  z-index: 1;
}

.create-forum {
  position: relative;
  left: 650px;
}
